.canvas {
  height: 500px;
  width: auto;
  margin: 0px auto;
  border: 1px solid black;
}

.button {
  position: relative;
  margin: 100px auto 20px;
  text-align: center;
}

button {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 0px 100px;
  border-radius: 15px;
  background-color: rgb(240,240,250);
}
